.button {
    font-family: Aleo;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: fit-content;
    color: white;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    background-color: #5373FD;
    padding: 14px 20px;
}